<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Team Dirt IMBA Mountain Bike Chapter" >
    <meta name="keywords" content="team dirt, teamdirt, mountain bike, corvallis, benton county, alsea falls, McDonald Forest, Marys Peak">
    <meta property="og:url"content="http://teamdirt.org" />
    <meta property="og:image" content="http://teamdirt.org/imgs/raw_imgs/equipment/eqp_1_med.png">
    <meta property="og:description" content="The official Team Dirt Mountain Bike Club website.">
    <meta property="og:title" content="Team Dirt">
    
    <base href="/" target="_parent" >
    <title>Team Dirt</title>
    <link rel="icon" href="favicon.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/global.js"></script>
    <script type="text/javascript" src="/scripts/mainpage.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/teamdirt.css">
	<link rel="stylesheet" type="text/css" href="/styles/mainpage.css">
    
</head>
<body ng-app="tdApp">
    <header id="commonHeader" ng-include="'includes/navBar.htm'"></header>
    
    <div ng-controller="HeroBanner as hero" class="w3-display-container heroBanner" ng-style="hero.getBackgroundImg()">
        <!--img ng-src="{{hero.getCurrentImg()}}" alt="heroImage" style="width:100%;min-height:200px;max-height:400px;"-->
        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <span class="w3-center">
				<h2 style="color:white">{{hero.getCurrentImgName()}}</h2>
                <span ng-repeat="img in hero.images" ng-click="hero.set($index)" class="w3-badge w3-small w3-border w3-transparent {{hero.getColorCode($index)}}" style="cursor:pointer">&nbsp;</span>
            </span>
			<button ng-click="hero.shift(-1)" class="w3-button w3-round-large w3-left w3-black w3-hover-green">&#10094;</button>
            <button ng-click="hero.shift(1)" class="w3-button w3-round-large w3-right w3-black w3-hover-green">&#10095;</button>
        </div>
    </div>
         
	<script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
	
	
    <main id="mainContainer" class="w3-panel">
<!--             <h1>2020 Team Dirt Trails Booster Campaign Launched</h1>
	<div class="fr-widget" data-type="badge" data-variant="rectangle" data-width="300" data-url="http://fnd.us/teamdirt2020"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr" /></a></div>
	<p>Please consider donating to our <a href="https://fundrazr.com/teamdirt2020" target="_blank">2020 Team Dirt Trails Booster campaign</a> today!</p> -->
	<header id="mainHeader">
            <h1>Mission Statement</h1>
            <p>Team Dirt, a Chapter of IMBA, is dedicated to stewardship of sustainable, multiple-use, and purpose built trails, to the preservation of mountain biking access through advocacy and education, and to the promotion of responsible trail use. Team Dirt is a nonprofit, volunteer organization that works in conjunction with the BLM, Starker Forests, OSU College of Forestry, the USFS and other land managers to build and maintain trails throughout Benton County.</p>
        </header>
        

        <section id="mainSection" class="w3-row-padding">
			
			<div id="contentContainer" class="w3-container w3-col m7 contentLeft">
				
                <div id="latestNews" class="w3-container w3-margin-bottom mainElement">
                    <h4 class="subsection">Latest News</h4>
                    <div class="w3-card-4 w3-padding ng-scope">
<!-- 						<p>Team Dirt Needs Your Help. We launched our <a href="https://fundrazr.com/teamdirt2020" target="_blank">2020 Team Dirt Trails Booster campaign</a>. Please consider donating today! It ends Nov 30.</p>
						<a href="https://fundrazr.com/teamdirt2020" title="2020 Team Dirt Trails Booster" target="_blank" class="w3-col s6"><img src="/imgs/fundrazr_1.JPG" alt="sponsor" class="silver" style="display:block"></a>
						<p></p>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
						<p>Check out our video for more info. Special thanks to Deann Garcia and her company <a href=" http://www.flammerougecreative.com/" target="_blank"> http://www.flammerougecreative.com/</a> for the awesome video production!</p>
						<a href="https://youtu.be/6rDHXKrpShg" target="_blank"><img src="/imgs/fundrazr_message.JPG" alt="sponsor" class="silver" style="display:block"></a>
						<p></p>
						<p></p> -->
                        <p>Please check out the Team Dirt Facebook page at <a href="https://www.facebook.com/pg/TeamDirtIMBA/" target="_blank">TeamDirtIMBA</a>.</p>                    </div>
                </div>
                

                <div id="eventsContainer" class="w3-container mainElement">
					<h4 class="subsection">Upcoming Events</h4>
                    <!-- <iframe class="iFrameElement" src="  https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=NjZ0dW45ZXRndGkwb2M1bTBnYjhwcnBoYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23616161&amp;showTitle=0&amp;showNav=0&amp;showDate=1&amp;showCalendars=0&amp;mode=AGENDA" style="border-width:0" width="500" height="800" frameborder="0" scrolling="no"></iframe> -->
					<iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&mode=AGENDA&title=%20%20%20%20&src=NjZ0dW45ZXRndGkwb2M1bTBnYjhwcnBoYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23616161" style="border-width:0" width="500" height="800" frameborder="0" scrolling="no"></iframe>
                </div>

            </div>
			
            <div class="w3-col m5 contentRight">
                <h4 class="subsection" style="margin-top:20px;">Individual Donations</h4>
                <p>Financial donations are used to purchase essential tools, safety equipment, volunteer day food, and insurance.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="QTM7QWWU4QNE6">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
                <h4 class="subsection">Sponsors</h4>
                <div id="sponsorContainer" ng-include="'includes/sponsors.htm'" class="w3-container w3-round-xlarge w3-card-4"></div>
                <!--div class="TrailforksWidgetKarmaDonation" data-w="295px" data-h="205px" data-rid="6121" data-did="0" data-x="1" data-t="1"></div-->
            </div>

        </section>
        
        <footer></footer>
    </main>
    
    <footer id="commonFooter" ng-include="'includes/footer.htm'"></footer>
    
</body>
</html>
