<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Team Dirt IMBA Mountain Bike Chapter" >
    <meta name="keywords" content="team dirt, teamdirt" >
    
    <base href="../" target="_parent" >
    <title>Team Dirt</title>
    <link rel="icon" href="favicon.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/global.js"></script>
    <script type="text/javascript" src="/scripts/openprojects.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/teamdirt.css">
	<link rel="stylesheet" type="text/css" href="/styles/openprojects.css">
    
</head>
<body ng-app="tdApp">
    <header id="commonHeader" ng-include="'includes/navBar.htm'"></header>
    
    <main id="mainContainer" class="w3-panel">
        <header id="mainHeader">
            <h1>Alsea Falls - Family Man Skills Park</h1>
        </header>
        
        <section id="mapandfacts" class="w3-row-padding">
			<div class="w3-col s8">
				<img id="map" src="imgs/placeholder.png" alt="map" style="width:100%;height: 400px;">
			</div>
			<div class="w3-panel w3-col s4 quickfacts">
				<h4 class="subsection">Quick Facts</h4>
				<table class="w3-table-all w3-card-4">
					<tr>
					  <td>Total Length</td>
					  <td>2.2km</td>
					</tr>
					<tr>
					  <td>Diffculity Rating</td>
					  <td>Beginner</td>
					</tr>
					<tr>
					  <td>Riding Type</td>
					  <td>Single Track, up/down</td>
					</tr>
					<tr>
					  <td>Elevation Gain</td>
					  <td>-700m</td>
					</tr>
					<tr>
					  <td>Start Date</td>
					  <td>01.01.2015</td>
					</tr>
					<tr>
					  <td>Planned Finish Date</td>
					  <td>01.08.2017</td>
					</tr>
				</table>
				<h4 class="subsection">Land Management Partners</h4>
				<a href="https://www.blm.gov/or/programs/recreation/" target="_blank"><img src="imgs/partners/US-DOI-BLM-logo.png" alt="partner" class="partner"></a>
			</div>
		</section>
		
		<section id="description" class="w3-panel">
			<h4 class="subsection">Description</h4>
			<p>The Declaration of Independence is the statement adopted by the Second Continental Congress meeting at the Pennsylvania State House (Independence Hall) in Philadelphia on July 4, 1776, which announced that the thirteen American colonies,[2] then at war with the Kingdom of Great Britain, regarded themselves as thirteen newly independent sovereign states, and no longer under British rule. Instead they formed a new nation—the United States of America. John Adams was a leader in pushing for independence, which was passed on July 2 with no opposing vote cast. A committee of five had already drafted the formal declaration, to be ready when Congress voted on independence. The term "Declaration of Independence" is not used in the document itself.

John Adams persuaded the committee to select Thomas Jefferson to compose the original draft of the document,[3] which Congress would edit to produce the final version. The Declaration was ultimately a formal explanation of why Congress had voted on July 2 to declare independence from Great Britain, more than a year after the outbreak of the American Revolutionary War. The next day, John Adams wrote to his wife Abigail: "The Second Day of July 1776, will be the most memorable Epocha, in the History of America."[4] But Independence Day is actually celebrated on July 4, the date that the Declaration of Independence was approved.</p>
		</section>
		
		<section id="pastEvents" ng-show="false" class="w3-panel">
			<h4 class="subsection">Past Volunteer Events</h4>
			<div style="padding:5px;">
				<h5 class="subsection">Bar Graph</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
			<div style="padding:5px;">
				<h5 class="subsection">WorkLog</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
		</section>
		
		<section id="pictures" ng-controller="PictureController as pictureController" ng-init="pictureController.pullFacebookPictureData('Misery Whip Build',4,250)" class="w3-panel">
			<h4 class="subsection">Pictures</h4>
			<div ng-repeat="eachGroup in pictureController.getPictureGroupList()" class="w3-row-padding w3-padding">
				<div ng-repeat="eachPic in eachGroup.groupArray" ng-class="pictureController.getw3Class()">
					<img ng-src="{{eachPic.srcSmallPic}}" alt="image" ng-click="pictureController.setModalView($parent.$index, $index)" class="w3-hover-opacity album">
				</div>
			</div>
			
		</section>
        
        <footer></footer>
    </main>
    
    <footer id="commonFooter" ng-include="'includes/footer.htm'"></footer>
	
</body>
</html>
