<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Team Dirt IMBA Mountain Bike Chapter" >
    <meta name="keywords" content="team dirt, teamdirt" >
    
    <base href="../" target="_parent" >
    <title>Team Dirt</title>
    <link rel="icon" href="favicon.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/global.js"></script>
    <script type="text/javascript" src="/scripts/openprojects.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/teamdirt.css">
	<link rel="stylesheet" type="text/css" href="/styles/openprojects.css">
    
</head>
<body ng-app="tdApp">
    <header id="commonHeader" ng-include="'includes/navBar.htm'"></header>
    
    <main id="mainContainer" class="w3-panel">
        <header id="mainHeader">
            <h1>McDonald Forest - No Secret Phase 1</h1>
        </header>
        
        <section id="mapandfacts" class="w3-row-padding">
			<div class="w3-col s8">
				<img id="map" src="/imgs/openprojects/nosecret/nosecret_title.jpg" alt="map">
			</div>
			<div class="w3-panel w3-col s4 quickfacts">
				<h4 class="subsection">Quick Facts</h4>
				<table class="w3-table-all w3-card-4">
					<tr>
					  <td>Total Length</td>
					  <td>1.6 miles</td>
					</tr>
					<tr>
					  <td>Diffculity Rating</td>
					  <td>Intermediate (with advanced side features)</td>
					</tr>
					<tr>
					  <td>Riding Type</td>
					  <td>Single Track, Bi-Directional</td>
					</tr>
					<tr>
					  <td>Descent</td>
					  <td>550 feet</td>
					</tr>
					<tr>
					  <td>Start Date</td>
					  <td>May 2015</td>
					</tr>
					<tr>
					  <td>Planned Finish Date</td>
					  <td>Finished! - Fall 2017</td>
					</tr>
				</table>
				<h4 class="subsection">Land Management Partners</h4>
				<a href="http://cf.forestry.oregonstate.edu/" target="_blank"><img src="imgs/partners/cof_v_spot1.png" alt="map" class="partner"></a>
				<a href="http://www.starkerforests.com/" target="_blank"><img src="imgs/partners/Starker-Forests.jpeg" alt="map" class="partner"></a>
			</div>
		</section>
		
		<section id="description" class="w3-panel">
			<h4 class="subsection">Description</h4>
            <div class="w3-container">
                <p>
                    The No Secret Trail is a project undertaken as an agreement with the <a href="http://www.forestry.oregonstate.edu/" target="_blank">OSU College of Forestry</a> to build the first primary use designed mountain biking trail in the College Forest.  At some level the project is a test case to understand if and how future collaborations between OSU and Team Dirt can contribute to the recreational trail infrastructure of the forest.
                </p>
                <p>The No Secret trail name is a play on words, since the original un-authorized trail name was <i>Top Secret</i>.  The new trail is located roughly in the same part of the McDonald Forest.  In fact, the trail exit is the same location.</p>
                <p>
                    No Secret has been a 100% hand built trail, which gives it a somewhat more primitive and wilderness character and offers volunteers intimate training experiences.  The trail is meant to have a narrow tread of intermediate technical difficulty with the occasional alternative line that offers more advanced riders increased challenge.  The trail is also designed so that it is ride-climbable, friendly for trail runners and hikers and a model for sustainability, protecting riparian areas and requiring minimal upkeep year after year.  Team Dirt has had as a goal that building this trail would serve to provide the community with:
                </p>
                <ul>
                    <li>A high quality intermediate level trail</li>
                    <li>Ongoing development of the cumulative community trail building expertise, as volunteers work with existing trail leaders to learn and apply technical trail building skills.  This has been borne out in the ever increasing fraction of volunteer groups that have gained build experience, they are then able to apply quickly and effectively to ongoing build day projects.</li>
                </ul>
                <p>
                    No Secret is a challenging build, because it is 100% hand built.  We work with and follow guidelines purposed by OSU, in addition to, incorporate features for the trail-running and hiking community.  In addition, during the build we encounter a preponderance of downed woody debris that has been encountered for removal as a result of thinning operations and storm damage.
                <p>
                    The best ways to support the completion of No Secret are:
                </p>
                <ul>
                    <li>Get on the No Secret email list and show up for announced build days</li>
                    <li>Become a trail leader volunteer by taking OSU's Forest Volunteer Leader Certification Training (2 hours)</li>
                    <li>Donate money (we use it to support build day food, buy hand tools, promote the builds, and in the future, purchase machinery)</li>
                    <li>Share and get the word out about each build you see on the schedule and connect us with eager and willing volunteer groups, including school groups</li>
                </ul>
                <!--
                <h5>Power Wheelbarrow Campaign</h5>
                <p>We are currently running a captial fundraising campaign to purchase a power wheelbarrow.  This will allow us to haul more dirt and rocky objects to different parts of the trail as we begin to build more features.  This power wheelbarrow is a better fit for the McDonald Forest then traditional skid steer type barrows, since it has a single pivot tire and is a lighter duty type machine, resulting in less impact on the forest floor.</p>
				<p>The Team Dirt, No Secret project was designated the charity recipient for the <a href="http://block15.com/the-peoples-pint/#overview" target="_blank">“People’s Pint” tap program</a> at Block 15 for the month of June 2017.  Nearly $800 was raised.  Thanks, to Block 15 for listing Team Dirt <b>AND</b> to riders like you!</p>
				<div ng-controller="ScreenResolution as resolutionCtrl" ng-init="resolutionCtrl.calculateIFrameWidth()">
					<iframe class="iFrameElement" width="600" height="400" src="https://www.youtube.com/embed/QVZH1VYEEwA?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
                -->
            </div>
		</section>
		
		<section id="pastEvents" ng-show="false" class="w3-panel">
			<h4 class="subsection">Past Volunteer Events</h4>
			<div style="padding:5px;">
				<h5 class="subsection">Bar Graph</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
			<div style="padding:5px;">
				<h5 class="subsection">WorkLog</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
		</section>
		
		<section id="pictures" ng-controller="PictureController as pictureController" ng-init="pictureController.pullFacebookPictureData('No Secret Build',4,250)" class="w3-panel">
			<h4 class="subsection">Pictures</h4>
            <p>The following pictures are taken from the <a href="https://www.facebook.com/TeamDirtIMBA/" target="_blank">Team Dirt Facebook</a> page.  You can download a full resolution image, by clicking on any image, waiting for it to load, then right clicking and "save as" to your computer.</p>
			<div ng-repeat="eachGroup in pictureController.getPictureGroupList()" class="w3-row-padding w3-padding">
				<div ng-repeat="eachPic in eachGroup.groupArray" ng-class="pictureController.getw3Class()">
					<img ng-src="{{eachPic.srcSmallPic}}" alt="image" ng-click="pictureController.setModalView($parent.$index, $index)" class="w3-hover-opacity album">
				</div>
			</div>
			
		</section>
        
        <footer></footer>
    </main>
    
    <footer id="commonFooter" ng-include="'includes/footer.htm'"></footer>
	
</body>
</html>
