<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Team Dirt IMBA Mountain Bike Chapter" >
    <meta name="keywords" content="team dirt, teamdirt" >
    
    <base href="../" target="_parent" >
    <title>Team Dirt</title>
    <link rel="icon" href="favicon.png">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/global.js"></script>
    <script type="text/javascript" src="/scripts/openprojects.js"></script>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/teamdirt.css">
	<link rel="stylesheet" type="text/css" href="/styles/openprojects.css">
    
</head>
<body ng-app="tdApp">
    <header id="commonHeader" ng-include="'includes/navBar.htm'"></header>
    
    <main id="mainContainer" class="w3-panel">
        <header id="mainHeader">
            <h1>Corvallis - Pump Track</h1>
        </header>
        
        <section id="mapandfacts" class="w3-row-padding">
			<div class="w3-col s8">
				<img id="map" src="/imgs/openprojects/pumptrack/pump_track_big.jpg" alt="map">
			</div>
			<div class="w3-panel w3-col s4 quickfacts">
				<h4 class="subsection">Quick Facts</h4>
				<table class="w3-table-all w3-card-4">
					<tr>
					  <td>Total Length</td>
					  <td>X ft</td>
					</tr>
					<tr>
					  <td>Diffculity Rating</td>
					  <td>Beginner</td>
					</tr>
					<tr>
					  <td>Riding Type</td>
					  <td>Pump Track</td>
					</tr>
					<tr>
					  <td>Elevation Gain</td>
					  <td>0 ft</td>
					</tr>
					<tr>
					  <td>Start Date</td>
					  <td>Fall 2015</td>
					</tr>
					<tr>
					  <td>Planned Finish Date</td>
					  <td>Spring 2018</td>
					</tr>
				</table>
				<h4 class="subsection">Land Management Partners</h4>
				<a href="http://www.corvallisoregon.gov/index.aspx?page=56" target="_blank"><img src="imgs/partners/corvallispr.jpg" alt="partner" class="partner"></a>
			</div>
		</section>
		
		<section id="description" class="w3-panel">
			<h4 class="subsection">Description</h4>
            <div class="w3-container">
                <p>The pump track--a modular, all weather, prefabricated riding structure that allows riders to propel about anything with wheels around it using the force of gravity—has been approved by the Corvallis Parks, Natural Area and Recreation Advisory Board.  This type of track would be the first of its kind in Oregon!  The proposed Corvallis pump track is ideal for families and children that love to bike, skate or scooter. With childhood obesity and screen time on the rise, the pump track provides a healthy, outdoor activity for children. We also believe that a pump track is a perfect fit for Corvallis's family friendly community.</p> 
                <p>Please join us in providing safe, fun, outdoor activities for our children.  Together, let's encourage our community to "Log Off" and "Ride On!"</p>
                
                <h5>Indiegogo Campaign</h5>
                <a href="https://www.indiegogo.com/projects/corvallis-pump-track/" target="_blank"><button class="w3-border w3-round-large tdbutton">Contribute Here!</button></a>
                <p>We are leading a $25,000 fundraising campaign to pay for the purchase and installation of the track in downtown Corvallis. Team Dirt has raised $10,000 so far and needs $25,000 more to purchase the entry level track.  The tracks are modular by design, so if we exceed our funding goal we can purchase a larger track.  We welcome and appreciate any amount you are able to contribute. </p>
                <p>We are and have been working closely with Corvallis Parks and Recreation Department for several years to get us to this point. Timing of installation is dependent on how quickly funds are raised, the location is finalized and the vendor can ship us the track. With your support, we are confident that this wonderful amenity will come together!</p>
				<div ng-controller="ScreenResolution as resolutionCtrl" ng-init="resolutionCtrl.calculateIFrameWidth()">
                	<iframe class="iFrameElement" src="https://player.vimeo.com/video/152530557" width="600" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
            </div>
		</section>
		
		<section id="pastEvents" ng-show="false" class="w3-panel">
			<h4 class="subsection">Past Volunteer Events</h4>
			<div style="padding:5px;">
				<h5 class="subsection">Bar Graph</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
			<div style="padding:5px;">
				<h5 class="subsection">WorkLog</h5>
				<img src="imgs/placeholder.png" alt="map" style="height:100px;width:100%;">
			</div>
		</section>
		
		<section id="pictures" ng-controller="PictureController as pictureController" ng-init="pictureController.pullFacebookPictureData('Pump Track Build',4,250)" class="w3-panel">
			<h4 class="subsection">Pictures</h4>
			<div ng-repeat="eachGroup in pictureController.getPictureGroupList()" class="w3-row-padding w3-padding">
				<div ng-repeat="eachPic in eachGroup.groupArray" ng-class="pictureController.getw3Class()">
					<img ng-src="{{eachPic.srcSmallPic}}" alt="image" ng-click="pictureController.setModalView($parent.$index, $index)" class="w3-hover-opacity album">
				</div>
			</div>	
		</section>
        
        <footer></footer>
    </main>
    
    <footer id="commonFooter" ng-include="'includes/footer.htm'"></footer>
	
</body>
</html>
