body {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

main[id="mainContainer"] {
	border: solid;
    margin: auto;
    max-width: 1080px;
}

h4.subsection {
    font-weight: bold;
}
