body {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

main[id="mainContainer"] {
    border: solid;
    margin: auto;
    max-width: 1200px;
}

h4.subsection {
    font-weight: bold;
}

img.platinum {
	width:100px;
    height:100px;
}
img.gold {
	width:75px;
    height:75px;
}
img.silver {
	width:50px;
    height:50px;
}
img.bronze {
	width:25px;
    height:25px;
}

img.event {
    max-width:100px;
    max-height:100px;
}

h5.event {
    font-weight: bold;
    margin: 0px;
}
h6.event {
    font-style: italic;
    margin: 0px;
}
p.event {
    text-indent: 10px;
    margin: 0px;
}



div[id="eventsContainer"] {
    border: solid;
}
div[id="sponsorContainer"] {
    border: solid;
}
div.event {
    border: solid;
}